---
date: '2023-05-30'
title: Reducing financial frauds by using in-person verification
tags: [zerodha]
author: nithin
link: https://twitter.com/Nithin0dha/status/1663500598350684161
post_type: tweet
description: In most financial frauds, the account that is scammed is compromised...

---

In most financial frauds, the account that is scammed is compromised. Also, the scammer, to hide the trail, uses a mule account which is also compromised. Here's what we did to fix such issues.

We mandate In-person verification (IPV) over webcam when any account details are being changed to ensure the person making the changes is the account holder and not someone else.

At Zerodha, IPV is mandatory for:
1. Opening an account
2. Change of email & mobile
3. Change in mapped Demat account
4. High-value demat transfers
5. Reactivating an Inactive account (Re-KYC)

IPV is a regulatory requirement only to onboard new investors. However, extending this to all changes in account details and even onboarding previously KYC-verified customers makes it hard for fraudsters.

Given the increasing scale of financial fraud, it is maybe a good idea to implement this across the financial services industry, from banks to brokers.
